@import "tailwindcss";

@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --background-image-grid: var(--bg-grid)
}

@layer base{
  button{
    cursor: pointer;
  }
}

:root {
  --background: #F5F5F7;
  --foreground: #1A1A1A;
  --bg-grid:linear-gradient(to right, #5858580a 1px, transparent 1px),
            linear-gradient(to bottom, #5858580a 1px, transparent 1px);
}

@media(prefers-color-scheme: dark){
  :root{
    --background: #1A1A1A;
    --foreground: #F5F5F7;
    --bg-grid:linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
              linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
  }
}


body {
  font-family: Arial, Helvetica, sans-serif;
}